@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(to right, rgba(173, 216, 230, 0.6), rgba(240, 248, 255, 0.6)),
              url('hp_image.png') center/cover no-repeat !important;
  background-blend-mode: overlay;
  font-family: 'heading', sans-serif;
  color: #4a4a4a;
}

/* Glassmorphism */
.glassmorphism {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
